# dependencies
node_modules/
mini-services/*/node_modules/

# next.js
.next/
out/
next-env.d.ts

# typescript
*.tsbuildinfo

# env
.env
.env*.local

# database
*.db
*.db-journal
prisma/*.db

# local file storage (simulated S3 buckets)
storage/

# logs
dev.log
server.log
npm-debug.log*

# misc
.DS_Store
*.pem
